<h1 class="diaplay-4">Articles</h1>
<table class="table table-striped">
    <thead>

        <tr>
            <th>#</th>
            <th>Title</th>
            <th></th>
        </tr>

        <tbody>
            <% article.forEach(function(article){ %>
                <tr>
                    <td><%= article.id %></td>
                    <td><%= article.title %></td>
                    <td>
                        <a href="/article/edit/<%= article.id %>" class="btn btn-primary">Edit</a>
                        <form class="d-inline" action="/article/delete/<%=article.id %>" method="POST">
                        <input type="submit" value="Delete"class="btn btn-danger">
                        </form>
                    </td>
                </tr>
           <% }) %>
        </tbody>

    </thead>


</table>